<div class="home__container">
    <app-card
        gameCover="assets/bt-1.jpg"
        gameLabel="Digital"
        gameType="Digital PS4"
        gamePrice="R$129,99"
    >
    </app-card>
    <app-card
        gameCover="assets/bt-4.jpg"
        gameLabel="Exclusive"
        gameType="Disc PS5"
        gamePrice="R$250,00"
    >
    </app-card>
    <app-card
        gameCover="assets/bt-hardline.jpg"
        gameLabel="Best of the year"
        gameType="Disc PS3"
        gamePrice="R$100,00"
    >
    </app-card>
</div>
